<% include ../partials/header %>

<div class="container">
    
        <h1 style="text-align:center">Edit <strong><i>"<%= campground.name %>"</i></strong></h1>
        <div style="width:40%; margin:25px auto;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <!--.row has been added with form-group
                Create horizontal forms with the grid by adding the .row class to form groups reference 
                https://getbootstrap.com/docs/4.0/components/forms/-->
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="<%= campground.name %>" name="updatedCampground[name]">
                </div>
                <div class="form-group row">
                <!--the min is the minimum number that needs to be entered, step is the iterative value i.e the max value by which you can increment your price
                using the up and down arrows embedded in the price element box. -->
                    <input type="number" class="form-control" placeholder="<%= campground.price %>" name="updatedCampground[price]" min="0.01" step="0.01">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="<%= campground.image %>" name="updatedCampground[image]">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="<%= campground.description %>" name="updatedCampground[description]">
                </div>
                <div class="form-group row">
                    <button class="btn btn-lg btn-info btn-block">Submit!</button>
                </div>
            </form>
        <a href="/campgrounds/<%= campground._id %>">Back</a>
        </div>
</div>
<% include ../partials/footer %>